*{
    margin:0;
    padding: 0;
}

.login-container  {
    width: 100%;
    height: 1000px;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("./../images/listofgames.jpg");
    background-position: center;
    background-size: cover;
    position: center;
}

.login-form{
    width: 380px;
    height: 550px;
    position: relative;
    margin: 6% auto;
    background: rgba(28, 121, 105, 0.8);
    padding: 5px;
    overflow: hidden;
}

.btn-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px rgb(37, 139, 117);
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor:  pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

.button-holder{
    top: 0;
    left: 0 ;
    position: absolute;
    width: 110px;
    height:  100%;
    background: linear-gradient(to right, #265c41, #a4bfd4);
    border-radius: 30px;
    transition: .5s;
}

.social-icons{
    margin: 30px auto;
    text-align: center;
}

.social-icons img{
    margin: 0 10px;
    cursor: pointer;
    border-radius: 50%;
}

.login-input{
    top:180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.login-input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 60%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #265c41, #a4bfd4);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box{
    margin: 30px 10px 30px 0;
}

span{
    font-size: 14px;
    bottom: 68px;
    position: absolute;
}

#login{
    left: 50px;
}

#register{
    left: 450px;
}