.top{
    display: flex;
    grid-template-columns: repeat(2, 260px);
    width:90%;
    height: 400px;
    background-color: rgba(88, 158, 146, 0.8);
}

.name-rating{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:20%;
    border: 4px solid black;
    height: auto;
}

.name{
    font-size: 40px;
    text-shadow: 3px 3px 15px;
    min-height: 80px;
    top: 0;
}

.rating{
    font-size: 25px;
    display: flex;
    justify-self: self-end;
    margin: auto;
    border:1px solid black;
}

.game-photo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.comment-section{
    background-color: rgb(178, 245, 241);
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.slider-container {
    background-color: rgb(24, 129, 124);
    justify-content: center;
    padding: 50px;
    margin: 25px 0 25px 0;
}

.thumbnails {
    display: flex;
    flex-direction: row;
    line-height: 0;
    border-top: 3px solid black;
}
.thumbnails li {
    flex: auto; 
    list-style: none ;
}
    
.thumbnails a {
    display: block;
}
    
.thumbnails img {
    width: 200px;
    height: 120px;
    object-fit: cover;
    object-position: top;
}


.slides {
    overflow: hidden;
    width: 1000px;
    height: 600px;
}

.slides li {
    width: 1000px;
    height: 600px;
    position: absolute;
    z-index: 1;
    list-style: none;
}

.slides  img {
    width: 1000px;
    height: 600px;
    object-position: initial;
}


.slides li:target {
    z-index: 3;
}
